# Importing Packages

In [40]:
import pandas as pd
import numpy as np
import pickle
import re

%reload_ext autoreload
%autoreload 2
import sys
sys.path.append("../py")
from utils import *
from preprocess import *
from sklearn.model_selection import train_test_split

#Binary Dataset

In [41]:
df1 = pd.read_csv("../data/dataset/binary_dataset.csv", index_col=0)

In [42]:
df1

,id,text,label,type,model_wrong,db.model_preds,status,round,split,annotator
1,10000,It should be legal for a husband to rape his wife,hate,notgiven,True,0.97457,dynabench entry,1,train,gnzuctwed3
2,10001,dalits are lowlife scum,hate,notgiven,False,0.08233,dynabench entry,1,test,cagnluiznm
3,10002,dalits are lowlives,hate,notgiven,True,0.92319,dynabench entry,1,train,cagnluiznm
4,10003,It was a better world when women dare not ques...,hate,notgiven,True,0.99006,dynabench entry,1,test,gnzuctwed3
5,10004,I don't work this hard so that those immigrant...,hate,notgiven,True,0.98836,dynabench entry,1,train,cagnluiznm
...,...,...,...,...,...,...,...,...,...,...
40736,9995,we should forcibly remove all the foreigners f...,hate,notgiven,True,0.86945,dynabench entry,1,train,cagnluiznm
40737,9996,we should forcibly remove all the immigrants f...,hate,notgiven,True,0.50039,dynabench entry,1,train,cagnluiznm
40738,9997,dalits are unworthy of the Gods love,hate,notgiven,True,0.97652,dynabench entry,1,train,cagnluiznm
40739,9998,dalits are worthless,hate,notgiven,True,0.94326,dynabench entry,1,train,cagnluiznm
40740,9999,dalits are deserves to be treated as lowlife,hate,notgiven,True,0.94324,dynabench entry,1,train,cagnluiznm

In [43]:
df1 = df1.drop(columns=['id', 'type', 'model_wrong', 'db.model_preds','status','round','split','annotator'], axis=1)
df1.columns = ['text', 'target']
df1.head()

                                                text target
1  It should be legal for a husband to rape his wife   hate
2                            dalits are lowlife scum   hate
3                                dalits are lowlives   hate
4  It was a better world when women dare not ques...   hate
5  I don't work this hard so that those immigrant...   hate

In [44]:
df1.target.value_counts()

hate       22124
nothate    18499
Name: target, dtype: int64

In [45]:
df1['target'].unique()

array(['hate', 'nothate'], dtype=object)

In [46]:
df1['target'].replace(['nothate','hate'], [0,1], inplace=True)
df1

                                                    text  target
1      It should be legal for a husband to rape his wife       1
2                                dalits are lowlife scum       1
3                                    dalits are lowlives       1
4      It was a better world when women dare not ques...       1
5      I don't work this hard so that those immigrant...       1
...                                                  ...     ...
40736  we should forcibly remove all the foreigners f...       1
40737  we should forcibly remove all the immigrants f...       1
40738               dalits are unworthy of the Gods love       1
40739                               dalits are worthless       1
40740       dalits are deserves to be treated as lowlife       1

[40623 rows x 2 columns]

In [47]:
df1.columns=['tweet','target']

In [48]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

#Davidson Dataset

In [83]:
df = pd.read_csv("https://raw.githubusercontent.com/t-davidson/hate-speech-and-offensive-language/master/data/labeled_data.csv", index_col=0)
df = df.drop(columns=['count', 'hate_speech', 'offensive_language', 'neither'], axis=1)
df.columns = ['target', 'text']
df.head()

   target                                               text
0       2  !!! RT @mayasolovely: As a woman you shouldn't...
1       1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2       1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3       1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4       1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [84]:
df.target.value_counts()

1    19190
2     4163
0     1430
Name: target, dtype: int64

In [85]:
df = df.replace({'target': {1: 1, 2: 1, 0: 0}})

In [86]:
df[df.target==0]

       target                                               text
85          0  "@Blackman38Tide: @WhaleLookyHere @HowdyDowdy1...
90          0  "@CB_Baby24: @white_thunduh alsarabsss" hes a ...
111         0  "@DevilGrimz: @VigxRArts you're fucking gay, b...
186         0  "@MarkRoundtreeJr: LMFAOOOO I HATE BLACK PEOPL...
204         0  "@NoChillPaz: "At least I'm not a nigger" http...
...       ...                                                ...
25084       0                this guy is the biggest faggot omfg
25197       0  which one of these names is more offensive kik...
25264       0         you a pussy ass nigga and I know it nigga.
25289       0                                 you're all niggers
25290       0  you're such a retard i hope you get type 2 dia...

[1430 rows x 2 columns]

In [52]:
df.target.value_counts()

1    23353
0     1430
Name: target, dtype: int64

In [53]:
df

       target                                               text
0           1  !!! RT @mayasolovely: As a woman you shouldn't...
1           1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2           1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3           1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4           1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...       ...                                                ...
25291       1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
25292       1  you've gone and broke the wrong heart baby, an...
25294       1  young buck wanna eat!!.. dat nigguh like I ain...
25295       1              youu got wild bitches tellin you lies
25296       1  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

# Renaming columns

In [54]:
df.columns = ['target', 'tweet']

In [55]:
df.target.value_counts()

1    23353
0     1430
Name: target, dtype: int64

In [56]:
# comb = pd.concat([df1, df], ignore_index=True)
# comb

In [57]:
df['target'].value_counts()

1    23353
0     1430
Name: target, dtype: int64

In [58]:
class_counts = df['target'].value_counts()
minority_class = class_counts.idxmin()
majority_class = class_counts.idxmax()

In [59]:
# Determine the class with fewer instances
minority_class_count = class_counts[minority_class]
majority_class_count = class_counts[majority_class]

In [60]:
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [61]:
#Apply oversampling to minority class
oversampler = RandomOverSampler(sampling_strategy='minority')
X = df.drop('target', axis=1)  # Assuming the label column is named 'label'
y = df['target']
X_oversampled, y_oversampled = oversampler.fit_resample(X, y)

In [62]:
# Apply undersampling to majority class
undersampler = RandomUnderSampler(sampling_strategy='majority')
X_balanced, y_balanced = undersampler.fit_resample(X_oversampled, y_oversampled)

In [63]:
# Verify the balanced class distribution
balanced_class_counts = pd.Series(y_balanced).value_counts()
print('Balanced Class Distribution:')
print(balanced_class_counts)

Balanced Class Distribution:
0    23353
1    23353
Name: target, dtype: int64

In [64]:
dfb = pd.concat([X_balanced,y_balanced], axis=1)

In [65]:
dfb

                                                   tweet  target
0      &#8220;@alicia_688: You aint special niglet RT...       0
1      Already more yellows than the last 2 years com...       0
2                     #California is full of white trash       0
3      People who go to church in Hollywood, CA are a...       0
4      RT @HeidiL_RN: Fuck Islam you pigfucking trash...       0
...                                                  ...     ...
46701  you's a muthaf***in lie &#8220;@LifeAsKing: @2...       1
46702  you've gone and broke the wrong heart baby, an...       1
46703  young buck wanna eat!!.. dat nigguh like I ain...       1
46704              youu got wild bitches tellin you lies       1
46705  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...       1

[46706 rows x 2 columns]

In [66]:
dfb['target'].value_counts()

0    23353
1    23353
Name: target, dtype: int64

# Pickle Out Dataframe

In [67]:
import pickle

# model_filename = 'ufo-model.pkl'
# pickle.dump(model, open(model_filename,'wb'))
pickle.dump(dfb, open("../pickle/balanced.pickle", "wb"))

# Train-Validation-Test

In [68]:
df_balanced = pickle.load(open("../pickle/balanced.pickle", "rb"))
df_balanced.head()

                                               tweet  target
0  &#8220;@alicia_688: You aint special niglet RT...       0
1  Already more yellows than the last 2 years com...       0
2                 #California is full of white trash       0
3  People who go to church in Hollywood, CA are a...       0
4  RT @HeidiL_RN: Fuck Islam you pigfucking trash...       0

In [69]:
df_balanced.target.value_counts()

0    23353
1    23353
Name: target, dtype: int64

In [70]:
df_bal = df_balanced[['tweet', 'target']] 
df_bal.target.value_counts()

0    23353
1    23353
Name: target, dtype: int64

In [71]:
df_bal

                                                   tweet  target
0      &#8220;@alicia_688: You aint special niglet RT...       0
1      Already more yellows than the last 2 years com...       0
2                     #California is full of white trash       0
3      People who go to church in Hollywood, CA are a...       0
4      RT @HeidiL_RN: Fuck Islam you pigfucking trash...       0
...                                                  ...     ...
46701  you's a muthaf***in lie &#8220;@LifeAsKing: @2...       1
46702  you've gone and broke the wrong heart baby, an...       1
46703  young buck wanna eat!!.. dat nigguh like I ain...       1
46704              youu got wild bitches tellin you lies       1
46705  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...       1

[46706 rows x 2 columns]

In [72]:
hate = df_bal[df_bal.target == 1]
non_hate = df_bal[df_bal.target == 0]

X_h = hate.tweet
y_h = hate.target
X_nh = non_hate.tweet
y_nh = non_hate.target

X_h_tr, X_h_val, y_h_tr, y_h_val = train_test_split(X_h, y_h, test_size=0.25, random_state=42)
# X_h_val, X_h_tt, y_h_val, y_h_tt = train_test_split(X_h_val, y_h_val, test_size=0.4, random_state=42)
X_nh_tr, X_nh_val, y_nh_tr, y_nh_val = train_test_split(X_nh, y_nh, test_size=0.25, random_state=42)
# X_nh_val, X_nh_tt, y_nh_val, y_nh_tt = train_test_split(X_nh_val, y_nh_val, test_size=0.4, random_state=42)

In [73]:
X_tr = pd.concat((X_h_tr, X_nh_tr), ignore_index=True)
y_tr = pd.concat((y_h_tr, y_nh_tr), ignore_index=True)
train_bal = pd.concat([X_tr, y_tr], axis=1)
train_bal.head()

                                               tweet  target
0                           @Ricky___m you bitch -.-       1
1  RT @iOnlyGoRaw: Took this bitch 3 months to pu...       1
2  Kim K is alright but honestly so many niggas b...       1
3  That bitch was worried about fines? Fuck you. ...       1
4  @OurCofE An end to the ordination of women and...       1

In [81]:
df_bal[df_bal.target == 0]

                                                   tweet  target
0      &#8220;@alicia_688: You aint special niglet RT...       0
1      Already more yellows than the last 2 years com...       0
2                     #California is full of white trash       0
3      People who go to church in Hollywood, CA are a...       0
4      RT @HeidiL_RN: Fuck Islam you pigfucking trash...       0
...                                                  ...     ...
23348  @AnthonyCumia \r\nYou be totally correct Antho...       0
23349                             Faggot ass bitch nigga       0
23350  @kieffer_jason lmao why ur dad raised u to be ...       0
23351                  #Minnesota is full of white trash       0
23352  Omg!!! You won't say it to my face! Stupid ass...       0

[23353 rows x 2 columns]

In [74]:
X_val = pd.concat((X_h_val, X_nh_val), ignore_index=True)
y_val = pd.concat((y_h_val, y_nh_val), ignore_index=True)
val_bal = pd.concat([X_val, y_val], axis=1)
val_bal.head()

                                               tweet  target
0  @kiela_g_3 Home fag. Didn't feel like puttin u...       1
1                  GTA online today bitch ass niggas       1
2  Can u say hoe hoe hoe? Ewww she was nasty. I w...       1
3             @itzbreak that spear chucker? Hell no.       1
4  Oscar &amp; I used to make fun of Chaco-wearin...       1

In [75]:
# X_tt = pd.concat((X_h_tt, X_nh_tt), ignore_index=True)
# y_tt = pd.concat((y_h_tt, y_nh_tt), ignore_index=True)
# test_bal = pd.concat([X_tt, y_tt], axis=1)
# test_bal.head()

In [76]:
train_bal.target.value_counts()

1    17514
0    17514
Name: target, dtype: int64

In [77]:
# pickle.dump(test_bal, open("../pickle/test_bal.pickle", "wb"))
pickle.dump(val_bal, open("../pickle/val_bal.pickle", "wb"))
pickle.dump(train_bal, open("../pickle/train_bal.pickle", "wb"))